@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');

.App{
    background: rgba(239,243,247,1);;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: 'Titillium Web', sans-serif;
}
